################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NadinSoft/.vs/NadinSoft
/NadinSoft/NadinSoft.Application/obj
/NadinSoft/NadinSoft.Domain/obj
/NadinSoft/NadinSoft.Infrastructure/obj
/NadinSoft/NadinSoft.Presentation.Api/obj
/NadinSoft/NadinSoft.Domain/bin/Debug/net8.0
/NadinSoft/NadinSoft.Infrastructure/bin/Debug/net8.0
/NadinSoft/NadinSoft.Presentation.Api/bin/Debug/net8.0
